#wireframe-overlay {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 101;
  display:none;
}

.wf-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .3;
  filter: alpha(opacity=30);
  -moz-opacity: .3;
}

.wf-label, .wf-description {
  display: block;
  text-align: center;
  background-color: #fff;
}

#wf-slider {
  position: relative;
  z-index: 3000;
  width: 200px;
  display:none;
}

#wf-slider .ui-slider-handle {
  background-color: #0c97ed;
}

.description {
  background-color: #fff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

.indent {
  position: relative;
  left: 20px;
}

#toc .active, #md-html .active {
  color: red;
}

#md-html {
  position: relative;
  z-index: 200;
  float: left;
}

#toc {
  width: 400px !important;
  float: right;
}

.fixed {
  position:fixed !important;
  top:50px;
  z-index:99999;
  left: 650px;
}