{#
/**
 * @file positions.html.twig
 * Default theme implementation to present Positions data.
 *
 * This template is used when viewing Positions pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_positions()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('positions') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
