{#
/**
 * @file activity.html.twig
 * Default theme implementation to present Activity data.
 *
 * This template is used when viewing Activity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_activity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(classes) }}>
  {% if content.extra_field_activity_status %}
    <div class="status">{{ content.extra_field_activity_status }}</div>
  {% endif %}
  {% if content.extra_field_activity_status %}
    <div class="moderation-transition">{{ content.extra_field_moderation_transition }}</div>
  {% endif %}
  {% if content.field_activity_reply %}
    <div>{{ content.field_activity_reply }}</div>
  {% endif %}
</div>
