@import "settings";

.block-organisation-form-block {

  .form-autocomplete {
    float: left;
    width: 87%;
    .input-group {
      max-width: none;
      input {
        max-width: none;
        width: 100%;
      }
    }
  }
  .form-actions {float: right}
}
