<div><a id="wireframe-overlay-toggle">{{ toggle }}</a></div>

<div id="wireframe-overlay-tools">
  <div>{{ label }}</div>
  <div>{{ description }}</div>
  <div>Show Image</div>
  <div>Opacity</div>
</div>

<div id="wireframe-overlay-image-overlay">
  <div><img src="{{ image }}"></div>
</div>
