@import "settings";

.comments {
  background: $gray-lightest;
  border-radius: $border-radius-base;
}

.comment__reply-btn {
  color: $link-color;
  fill: $link-color;
}

.radix-layouts-footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  max-height: 600px;
  width: 25%;
  z-index: 200;

  .card__block {
    overflow-y: scroll;
    max-height: 400px;
  }

  .comment-box-toggle {
    background-color: $brand-primary;
    color: $gray-lightest;
    padding: $padding-xs-vertical $padding-xs-horizontal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }

}
