{#
/**
 * Available variables:
 * - title
 * - email
 * - address.street
 * - address.city
 * - address.country
 * - url
 * - telephone
 * - fax
 * - logo
 * - map
 */
#}
{% extends "@templates/site-layout.twig" %}
{% block content %}
  <h2>{{ telephone }}</h2>
  <h3>Subtitle</h3>
  <form action="#">
    <fieldset class="fieldset__inline">
        <label class="label" for="#"></label>
        <input class="" type="text" placeholder="test" id="#">
    </fieldset>
  </form>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
  <div class="btn-group dropup">
  <button type="button" class="btn btn-default">Dropup</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <!-- Dropdown menu links -->
  </ul>
</div>
{% endblock %}
