
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <!-- inject:js -->
  <script src="../../../../dest/bower--devDeps.min.js?cacheBuster={{ cacheBuster }}"></script>
  <script src="../../../../dest/script.js?cacheBuster={{ cacheBuster }}"></script>
  <!-- endinject -->
  <script src="//cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.js"></script>

	</body>
</html>
