<header class="site-header">
  <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <a href="/" class="logo">Draga Vlado</a>
      </div>
    </nav>
</header>

